# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime / process
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov
.nyc_output/

# Build output
/dist/

# Cache
.cache/
.eslintcache
*.tsbuildinfo

# Env files
.env
.env.*

# Editors / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
*.log
