name = "bitfabric"
compatibility_date = "2024-01-01"

# Pages configuration
pages_build_output_dir = "dist"

# D1 Database binding
[[d1_databases]]
binding = "DB"
database_name = "bitfabric-db"
database_id = "036b4a96-6aaf-44dc-b350-31ee078d14e6"
